body {
     background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.top-nav{
  display: inline;
  background-color: transparent;
  height: 30px;
  width: 100%;
}
.nav-main-div{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-section{
width: 100%;
}

.main-content{
  position: relative;
      height: 100%;
      display: flex; 
      justify-content: center; 
      align-items: center; 
      align-content: center;
      background-image: url("./images/website-design.jpeg");
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
}

.content{
    font-size: 50px;
    font-family: fantasy;
}

.rubik-iso-regular {
  font-family: "Rubik Iso", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#caff38ff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.rubik-80s-fade-regular {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#f58356ff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#30f88aff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.bitcount-ink-text {
  font-family: "Bitcount Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

@font-face {
  font-family: "Nevera";
  src: url("fonts/nevera/Nevera-Regular.otf");
}

@font-face {
  font-family: "Rosehot";
  src: url("fonts/rosehot-free-version/Rosehot.ttf");
}

@font-face {
  font-family: "Bpreplay";
  src: url("fonts/bpreplay/BPreplayExtended.otf");
}

.logo-text{
  font-size: 2em;
}

footer{
  height: 200px;
  bottom: 0px; 
  /* left:0px;  */
  width: 100%;
  background-color: transparent;
  padding-bottom: 50px;
  
}
.footer{
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  margin-top: 50px;
}
.footer-about{
  font-size: small;
  font-family: Bpreplay;
}

.rounded {
  /* width: 200px; */
  /* Use transparent so the background image is visible */
  border: 5px solid transparent;
  padding: 5px;
  border-radius: 10px;
  background-image:
    linear-gradient(white, white), linear-gradient(to right, cyan, lime);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.list-style-none{
  list-style-type: none;
}

#contact service{
  text-align: center;
}
.service-card{
  width: auto; 
  height: 150px; 
  background-color: wheat;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}