body {
     background: 
     linear-gradient(red, orange, yellow, green, blue);
     /* linear-gradient(
  to left,
  #333333,
  #333333 50%,
  #eeeeee 75%,
  #372424 75%
); */
    /* repeating-conic-gradient(
      from 0deg at 80% 50%,
      #5691f580 0% 8.25%,
      #b338ff80 8.25% 16.5%,
      #f8305880 16.5% 25%
    ),
    repeating-conic-gradient(
      from 15deg at 50% 50%,
      #e856f580 0% 8.25%,
      #ff384c80 8.25% 16.5%,
      #e7f83080 16.5% 25%
    ),
    repeating-conic-gradient(
      from 0deg at 20% 50%,
      #f58356ff 0% 8.25%,
      #caff38ff 8.25% 16.5%,
      #30f88aff 16.5% 25%
    ); */
      display: flex; 
      justify-content: center; 
      align-items: center; 
      align-content: center;
}

.content{
    font-size: 50px;
    font-family: fantasy;
}

.rubik-iso-regular {
  font-family: "Rubik Iso", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#caff38ff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.rubik-80s-fade-regular {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#f58356ff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#30f88aff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.bitcount-ink-text {
  font-family: "Bitcount Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}